:root {
  /* Fonts */
  --jg-title-font: "Bebas Neue", sans-serif;
  --jg-subtitle-font: "Fira Sans", sans-serif;
  --jg-heading-font: "Bebas Neue", sans-serif;
  --jg-body-font: "Roboto", sans-serif;

  /* Colors */
  --jg-primary-color: rgb(145, 203, 251);
  --jg-secondary-color: rgb(66, 148, 186);
  --jg-highlight-color: rgb(250, 225, 120);
  --jg-dark-color: #212121;
  --jg-light-color: #deeefb;
  --jg-french-gray: #cbcbd7;
  --jg-space-cadet: #222444;
  --jg-slate-blue: #4947d7;
  --jg-light-sea-green: #076866;
  --jg-dark-slate-gray: #0b5351;
  --jg-midnight-blue: #18206f;
  --jg-penn-blue: #17255a;
  --jg-champagne: #f5e2c8;
  --jg-gunmetal: #092327;
  --jg-background-color: rgba(250, 250, 250, 0.8);
  --jg-rich-black: #00171f;
  --jg-prussian-blue: #003459;
  --jg-white: #ffffff;
  --jg-jet: rgba(60, 55, 68, 0.61);
  --duke-blue: #090c9bff;
  --byzantine-blue: #3d52d5ff;
  --gunmetal: #30343fff;
  --ghost-white: #fafaffff;
  --dark-cyan: #00bebb;
  --delft-blue: #273469ff;
  --charcoal: #2f4858ff;
  --lapis-lazuli: #33658aff;
  --carolina-blue: #86bbd8ff;
  --hunyadi-yellow: #f6ae2dff;
  --carmine: #931621ff;
  --dark-slate-gray: #28464bff;
  --caribbean-current: rgb(43, 86, 95);
  --caribbean-current2: #326771ff;
  --blue-munsell: rgb(34, 141, 155);
  --blue-munsell2: #2c8c99ff;
  --timberwolf: #eadedaff;
  --cinereous: #998888ff;
  --silver: #bfb8adff;
  --burnt-umber: #823329ff;
  --dark-green: #042a2bff;
  --moonstone: #5eb1bfff;
  --fluorescent-cyan: #54f2f2ff;
  --white: #fcfcfcff;
  --dark-purple: #1c0b19ff;
  --dark-purple2: rgb(34, 34, 34);
  --federal-blue: #140d4fff;
  --keppel: #4ea699ff;
  --jg-emerald: #2dd881ff;
  --jg-emerald2: rgb(39, 182, 108);
  --jg-gradient-color: linear-gradient(
    135deg,
    #1c164d,
    #482c69 57%,
    #68347f,
    #863e97
  );

  /* Main Colors  */
  --jg-title-color: var(--jg-emerald2);
  --jg-content-color: var(--jg-white);
  --jg-main-bg-color: var(--jg-gradient-color);
  --jg-checkmark-color: var(--jg-title-color);
  --jg-button-color-1: var(--jg-title-color);
  --jg-button-color-2: var(--jg-emerald);

  /* Nav bar colors */
  --jg-nav-bg-color: var(--jg-main-bg-color);
  --jg-nav-toggler-color: var(--jg-emerald2);
  --jg-nav-toggler-glow: var(--jg-emerald);

  /* Text styles */
  --jg-font-size: 1.1rem;
  --jg-font-weight: 400;
  --jg-line-height: 1.5rem;

  /* Footer Colors */
  --jg-footer-bg-color: var(--jg-jet);
  --jg-socials-color: var(--jg-nav-toggler-color);
  --jg-socials-hover-color: var(--jg-nav-toggler-glow);

  /*
  font-family: 'Allan', cursive;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  */
}

/* START: Nav Bar*/
.navbar-toggle-icon {
  color: var(--jg-nav-toggler-color);
  font-size: 1.5rem;
}

.navbar-toggler {
  color: var(--jg-nav-toggler-glow);
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

#mainNav {
  background: var(--jg-nav-bg-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px !important;
}

/* END: Nav Bar*/

/* START: Sticky Footer */
html,
body {
  height: 100%;
}

.titleText {
  color: var(--jg-title-color);
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--jg-body-font);
  font-size: var(--jg-font-size);
  font-weight: var(--jg-font-weight);
  line-height: var(--jg-line-height);
  color: var(--jg-content-color);
  background: var(--jg-main-bg-color);
  background-attachment: fixed;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}
/* END: Sticky Footer */

/* START: Footer */
.socialicons {
  font-size: 1.5rem;
  color: var(--jg-socials-color);
  transition: color 0.25s;
}

.socialicons:hover {
  color: var(--jg-socials-hover-color);
}

footer {
  background-color: var(--jg-footer-bg-color);
}
/* END: Footer */

.checklist {
  list-style-type: none;
}

.checklist > li i {
  color: var(--jg-checkmark-color);
  padding-right: 0.5rem;
}

.devIcons img {
  max-width: 10%;
}

#bootstrapLogo {
  max-width: 13.33%;
}

.appLogo {
  max-width: 270px;
  margin-bottom: 1rem;
  max-height: 270px;
}

.imgWrapper {
  height: 100%;
}

.mainMargins {
  margin-top: 4.6rem;
  margin-bottom: 1.4rem;
}

.brandImaging {
  max-height: 40px !important;
}

.btnWrapper {
  margin-bottom: 1rem;
}

.btn-bd-primary {
  --bs-btn-font-weight: 500;
  --bs-btn-color: var(--jg-button-color-1);
  --bs-btn-border-color: var(--jg-button-color-1);
  --bs-btn-hover-color: var(--jg-content-color);
  --bs-btn-hover-bg: var(--jg-button-color-1);
  --bs-btn-hover-border-color: var(--jg-button-color-1);
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--jg-content-color);
  --bs-btn-active-bg: var(--jg-button-color-2);
  --bs-btn-active-border-color: var(--jg-button-color-1);
}
/* Media Queries*/

@media (max-width: 240px) {
  #appName {
    display: none;
  }
}

@media (max-height: 300px) and (orientation: landscape) {
  .appLogo {
    max-width: 190px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 317px) {
  span {
    font-size: 0.9rem;
  }

  i {
    font-size: 0.9rem;
  }

  h4 {
    line-height: 1.5;
  }
}

@media (max-width: 340px) and (orientation: portrait) {
  .appLogo {
    max-width: 200px;
  }
}

@media (max-width: 380px) {
  .appLogo {
    max-width: 250px;
    margin-bottom: 1rem;
  }
}

@media (max-height: 415px) and (orientation: landscape) and (min-width: 768px) {
  .appLogo {
    max-width: 250px;
  }
  #logoCol {
    align-items: start;
    padding-top: 2.5rem;
    height: 100%;
    padding-right: 1rem !important;
  }

  h4 {
    font-size: 1.1rem !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  h1 {
    margin-bottom: 5px;
    line-height: 1 !important;
  }

  .btnWrapper {
    margin-bottom: 2rem;
  }

  .mainMargins {
    margin-top: 5rem;
  }
}

@media (max-width: 451px) {
  .appLogo {
    max-width: 200px;
    margin-bottom: 1rem;
  }

  .mainMargins {
    margin-bottom: 1.5rem;
    margin-top: 5rem;
  }

  .btnWrapper {
    margin-bottom: 1rem;
  }
}

@media (min-width: 666px) and (max-width: 767px) {
  .appLogo {
    margin-bottom: 1.1rem;
    max-width: 271px;
    max-height: 271px;
  }

  .mainMargins {
    margin-top: 5rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) and (min-height: 500px) {
  .appLogo {
    max-width: 350px;
  }
}

@media (min-width: 992px) {
  .appLogo {
    max-width: 400px;
    max-height: 400px;
  }
}

@media (min-width: 768px) and (max-height: 535px) and (orientation: landscape) {
  #logoCol {
    height: 100%;
    padding-top: 1rem;
  }

  .appLogo {
    max-height: 270px;
  }
}
